:root {
  --inner-wrapper: 1280px;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #fff;
}

.wrapper {
  width: 100%;
}

.hero {
  background: url("img/background.jpg");
  background-size: cover;
  width: 100%;
  height: 676px;
}

.inner-wrapper {
  max-width: var(--inner-wrapper);
  margin: 0 auto;
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 130px;
  height: 94px;
  padding-top: 20px;
  margin-left: auto;
}

.search {
  position: relative;
  width: 800px;
  height: 50px;
  border-radius: 10px;
  margin: 0 auto;
}

.search .text {
  background-color: #fff;
  width: 800px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
}

.search .text::placeholder {
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: normal;
  color: #6d2323;
  opacity: 1;
  padding-left: 20px;
}

.search a.search-icon {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 5%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}

.login {
  background-color: #6d2323;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.login-item {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.login-item a {
  font-family: "Inria Sans";
  font-size: 32px;
  font-weight: normal;
  color: #fef9e1;
  text-decoration: none;
}

.nav {
  background-color: #6d2323;
  margin-top: 58px;
  width: 100%;
  height: 110px;
}

.nav-item {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-family: "Inria Sans";
  font-size: 32px;
  font-weight: lighter;
  padding-top: 30px;
  margin: 0 auto;
}

.nav-item a {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 32px;
  text-decoration: none;
}

.header-text {
  font-family: "Inria Sans";
  font-size: 48px;
  display: flex;
  justify-content: center;
  color: #fef9e1;
  margin-top: 53px;
  margin-bottom: 53px;
  font-weight: bold;
}

.header-desc {
  background-color: #6d2323;
  width: 1100px;
  height: 150px;
  border-radius: 20px;
  font-family: "Inria Sans";
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #fef9e1;
  text-align: center;
  font-weight: lighter;
}

.footer {
  background-color: #e5d0ac;
  width: 100%;
  height: 235px;
}

.footer-container {
  font-family: "Inria Sans";
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 170px;
  margin-bottom: 15px;
}

.footer-section1 {
  text-align: center;
}

.footer-logo {
  width: 130px;
  height: 94px;
  padding-top: 20px;
  margin-left: auto;
}

.footer-desc {
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: lighter;
  color: #6d2323;
}

.footer-section2 {
  text-align: center;
}

.footer-title {
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: bold;
  color: #6d2323;
  padding-top: 20px;
}

.title-nav {
  list-style: none;
  font-family: "Inria Sans";
  font-weight: lighter;
  padding-top: 30px;
}

.title-nav a {
  color: #6d2323;
  font-size: 20px;
  text-decoration: none;
}

.footer-section3 {
  text-align: start;
}

.footer-info {
  font-family: "Inria Sans";
  font-weight: lighter;
  padding-top: 5px;
  color: #6d2323;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
  border-top: 1px solid #6d2323;
  font-size: 12px;
  color: #6d2323;
}

.akun {
  background-color: #6d2323;
  width: 500px;
  /* height: 486px;  <-- HAPUS */
  min-height: 486px; /* Gunakan min-height agar bisa memanjang */
  border-radius: 15px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  overflow-y: visible; /* atau cukup hilangkan baris ini */
}

.akun-text {
  color: #fef9e1;
  font-family: "Anton";
  font-size: 64px;
  font-weight: normal;
  padding-left: 30px;
}

.akun .text {
  background-color: #fef9e1;
  width: 375px;
  height: 53px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: block;
  line-height: normal;
}

.akun .text::placeholder {
  font-family: "Inria Sans";
  font-size: 30px;
  font-weight: normal;
  color: #6d2323;
  opacity: 1;
}

.cta {
  background-color: #fef9e1;
  width: 187px;
  height: 47px;
  border-radius: 50px;
  margin-top: 52px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inria Sans";
  font-size: 30px;
  font-weight: normal;
  color: #6d2323;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.akun-desc {
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: normal;
  color: #fef9e1;
  margin-top: 10;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.akun-desc a:hover {
  text-decoration: underline;
}
.signup-msg {
  color: yellow;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

/* 
.profile {
  background-color: #6d2323;
  width: 100%;
  height: 676px;
  position: relative;
}

.profile-text {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 64px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 109px;
}

.profile .text {
  background-color: #fef9e1;
  width: 423px;
  height: 60px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 34px;
  margin-left: 600px;
  padding-left: 20px;
}

.profile .text::placeholder {
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: normal;
  color: #6d2323;
  opacity: 1;
}

.cta-container {
  position: relative;
  height: 200px;
}

.cta-profile {
  background-color: #fef9e1;
  width: 185px;
  height: 49px;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  margin-bottom: 20px;
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: normal;
}

.circle {
  width: 339px;
  height: 319px;
  background-color: #fef9e1;
  border-radius: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 150px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  font-size: 100px;
} */

.kategori {
  background-color: #fef9e1;
  width: 100%;
  height: 676px;
}

.kategori-text {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.kategori-container1 {
  background-color: #e5d0ac;
  width: 730px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kategori-frame {
  background-color: #6d2323;
  width: 210px;
  height: 160px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kategori-desc {
  color: #e5d0ac;
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kategori-container2 {
  background-color: #e5d0ac;
  width: 730px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: 0;
}

.product {
  background-color: #6d2323;
  width: 100%;
  height: 676px;
}

.product-text {
  color: #e5d0ac;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.product-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
  margin-bottom: 27px;
}

.product-frame {
  background-color: #fef9e1;
  width: 265px;
  height: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-desc {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.brand {
  background-color: #e5d0ac;
  width: 100%;
  height: 676px;
}

.brand-text {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.brand-container {
  background-color: #fef9e1;
  width: 1100px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}

.brand-frame {
  background-color: #e5d0ac;
  width: 243px;
  height: 290px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand-desc {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.order {
  background-color: #6d2323;
  width: 100%;
  height: 1024px;
}

.order-text {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.order-container1 {
  width: 1056px;
  height: 305px;
  margin: 0 auto;
  position: relative;
}

.order-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.order-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: bold;
}

.order-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-top: 200px;
}

.order-frame {
  background-color: #fef9e1;
  width: 255px;
  height: 298px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.order-frame img {
  display: block;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 20px;
}

.order-desc {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: normal;
}

.order-price {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: normal;
  padding-top: 15px;
}

.order-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.review {
  background-color: #fef9e1;
  width: 100%;
  height: 676px;
}

.review-text {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}

.review-frame {
  background-color: #6d2323;
  width: 330px;
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-nama {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

.review-desc {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.cart {
  background-color: #6d2323;
  width: 100%;
  height: 676px;
  position: relative;
}

.cart-text {
  color: #fef9e1;
  font-family: "Inria Sans";
  font-size: 90px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.cart-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
}

.cart-container {
  background-color: #fef9e1;
  width: 900px;
  height: 428px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cart-frame {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.cart-desc {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 30px;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  margin-bottom: 10px;
  width: 600px;
}

.cart-price {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 30px;
  font-weight: normal;
  padding-top: 40px;
  display: block;
  margin-top: 0;
  width: 200px;
}

.cta-tambah {
  background-color: #e5d0ac;
  width: 194px;
  height: 45px;
  border-radius: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 20px;
}

.cart-qty {
  color: #6d2323;
  font-family: "Inria Sans";
  font-size: 30px;
  font-weight: normal;
  padding-top: 4px;
}

.icon-delete {
  padding-top: 40px;
}

.cta-container {
  background-color: #fef9e1;
  width: 250px;
  height: 51px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.cta-cart {
  background-color: #fef9e1;
  border: none;
  font-family: "Inria Sans";
  font-size: 32px;
  font-weight: normal;
  color: #6d2323;
}
